*:not(div.codigoContainer) {
    font-family: arial;
  }
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
}
.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
    text-align: right;
} 
.col-50 {
    float: center;
    width: 50%;
    margin-top: 6px;
    text-align: center;
} 
.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.button {
    background-color: #2078dd;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 17px;
}
.button:hover{
    background-color: #134d8f;
    color: white;
    border-radius: 20px;
}
.top-banner{
    background: #2078dd;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 10px;
    border-radius: 15px;
}
.buttonCT{
    display: inline;
    width: 50%;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.buttonContainer{
    display: flex;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.listContainer{
    background-color: rgb(133, 133, 133);
    opacity: 0.8;
    /* border: 2px solid red; */
    border-radius:15px;
    padding: 20px;
    width: 40%;
    color: white;
}
#listaFrutas>li{
    padding:7px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 15px;
    margin: 5px;
    text-align: center;
}
.tema-uno{
    --color-primary: rgb(148, 16, 16) ;
    --color-secondary: #000; 
}
.tema-dos{
    --color-primary: rgb(9, 133, 9) ;
    --color-secondary: white; 
}
.tema-default{
    --color-primary: rgba(0, 128, 0, 0) ;
    --color-secondary: white; 
}
ul.menu{
    max-width: 1024px;
    list-style-type: none;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2078dd;
    color: white;
}
ul.menu>li{
    float: left;
    padding-right: 40px;
}
ul.menu>li>a{
    display: block;
    color: var(--font-color-2);
    text-align: center;
    padding: 15px 7px;
    text-decoration: none;
}
ul.menu>li>a:hover {
    background-color:#093568; 
    border-radius: 15px;
}
ul.menu>li>a:active{
    background-color: #5689c4;
}
#menu-container{
    font-size: 17px;
    font-family: arial;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portafolio{
    background-color: rgba(184, 230, 132, 0.281);
}
.portafolioContainer{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    margin-left: 7%;
    margin-right: 7%;
    border:2px solid black;
}
.codigoContainer{
    background-color: rgb(236, 236, 236);
    padding: 2px;
    font-family: monospace!important;
    border-radius: 15px;
    margin-left: 2%;
    margin-right: 2%;
    border-left:5px solid red;
    border-right:5px solid red;
}
.portafolioContainer>p{
    margin-top: 70px;
}