.tema-blueberry {
    --color-primary: rgb(16, 83, 138) ;
    --color-secondary: rgb(10, 63, 107); 
    --color-tertiary: rgb(32, 170, 204); 
    --color-background: #fad8d8;
    --font-color: #000000;
    --font-color-2: white;
  }
.tema-strawberry{
    --color-primary: #E03327 ;
    --color-secondary: rgb(136, 12, 12); 
    --color-tertiary: rgb(216, 93, 161); 
    --color-background: #e5b6db;
    --font-color: #000000;
    --font-color-2: white;
  }
.tema-mint {
    --color-primary: #10B366 ;
    --color-secondary: #14E383; 
    --color-tertiary: #276347; 
    --color-background: #a0e9c7;
    --font-color: #053d23;
    --font-color-2: #e2fff1;
  }
.tema-mono {
    --color-primary: black ;
    --color-secondary: rgb(85, 100, 112); 
    --color-tertiary: rgb(129, 196, 212); 
    --color-background: #8794b4;
    --font-color: #000000;
    --font-color-2: white;
  }
.content-block>h3,.content-block>p{
    text-align: center;
    margin:auto;
    font-size: 20px;
    font-family: arial;
}
.content-block>ul{
    margin-left:20%;
    margin-right:auto;
    font-size: 20px;
    font-family: arial;
}
.content-block ul li img{
    width: 50px;
}
body{
    max-width:1024px;
    margin:0px auto;
    background-color: var(--color-background);
    color: var(--font-color);
  }

#top-banner{
    font-family: arial;
    background: var(--color-primary);
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
#img-container{
    height: 100px;
    text-align: center;
    
}#img-container>img{
    width:200px;
    border-radius: 100%;
    border: 10px solid var(--color-primary) ;
    box-shadow: 0px 10px 15px var(--color-primary);
}
ul.menu{
    list-style-type: none;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--color-primary);/*cambiar*/
}
ul.menu>li{
    float: left;
}
ul.menu>li>a{
    display: block;
    color: var(--font-color-2);
    text-align: center;
    padding: 15px 7px;
    text-decoration: none;
}

ul.menu>li>a:hover {
    background-color: var(--color-secondary); /*cambiar*/
}
ul.menu>li>a:active{
    background-color: var(--color-tertiary);/*cambiar*/
}
#menu-container{
    font-size: 17px;
    font-family: arial;
    margin-top: 250px;
    
}
div.separador{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    border:3px solid var(--color-primary);  /*cambiar*/
    border-radius:22px
}
select {
    background: #ffffff7a;
    color: #000000;
    border-radius: 15px;
    font-size: 14px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.button {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--font-color);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}
.button:hover{
    background-color: var(--color-tertiary);
    border: 1px solid var(--color-secondary);
}
.accordion {
    background-color: var(--color-primary);
    color: var(--font-color-2);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin:auto;
    font-size: 20px;
    font-family: arial;
    /* border-radius: 15px; */
    /* margin-bottom: 10px; */
}
.active, .accordion:hover {
    background-color: var(--color-tertiary );
    border-radius: 15px;
}
.accordion:after {
    content: '\002B';
    color: var(--font-color);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin:auto;
    font-size: 20px;
    font-family: arial;
    border-radius: 15px;
   /* margin-bottom: 10px; */
}
.panel img{
  width: 80px;
}

#portafolio{
    background: var(--color-primary);
    padding: 10px;
    border-radius: 15px;
    color: var(--font-color-2);
}
#portafolio:hover{
    background: var(--color-secondary);
}